@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Girassol&display=swap');

body {
  margin: 0;
  font-family: 'Akaya Telivigala', cursive;
  font-family: 'Girassol', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9AD1D4;
}

code {
  font-family: 'Akaya Telivigala', cursive;
  font-family: 'Girassol', cursive;
}